body{
    background-color: white;
}
.title{
    background-color: white;
    text-align: center;
    padding:8px;
    font-family: 'Pacifico', cursive;
    
}

.header{
    background-color: #c9e2f5cf;
    padding: 16px;
    font-family: 'Dancing Script', cursive;
}
.lm{
    border:solid #6d0929 2px;
    padding: 3px;
    border-radius: 33%;
    background: #6d0929;
    color: white; 
}
.portfolio{
    text-align: center;
    padding: 3px;
    font-family: 'Mansalva', cursive;
}
.portfolio h1{
    font-size: 20px;
    margin-top: 5px;
}
img.img-fluid{
    padding-bottom: 5px;
    padding-top: 5px;
}
.body{
    background-color: #ffe4e1;
    text-align: center;
    padding: 66px
}
.cu{
    border: solid black 2px;
    padding: 8px 7px;
    color: black;
}
a:hover{
    text-decoration: none;
}
.fin{
    background-color: black;
    padding: 70px;
}
.bord{
    border-right: solid white 1px;
    border-left: solid white 1px;
    padding-left: 20px;
    padding-right: 20px;
}
li{
    display:inline-block;
    margin-right: 18px;
}
ul{
    padding-left: 190px;
    color: white;
}